@{
    ViewBag.Title = "Home Page";
}

  <!-- product section -->
  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Products
        </h2>
      </div>
    </div>
    <div class="product_container">
      <div class="owl-carousel owl-theme">
        <div class="item" style="">
          <div class="box_container">
            <div class="img-box">
              <img src="~/Content/images/p1.png" class="img1" alt="">
            </div>
            <div class="box">
              <div class="detail-box">
                <h5>
                  Capuccino
                </h5>
                <p>
                  There are many variations of passages of Lorem Ipsum available, butdon't look even slightly
                  believable.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="">
          <div class="box_container">
            <div class="img-box">
              <img src="~/Content/images/p2.png" class="img1" alt="">
            </div>
            <div class="box ">
              <div class="detail-box">
                <h5>
                  Frapuccino
                </h5>
                <p>
                  There are many variations of passages of Lorem Ipsum available, butdon't look even slightly
                  believable.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="">
          <div class="box_container">
            <div class="img-box">
              <img src="~/Content/images/p3.png" class="img1" alt="">
            </div>
            <div class="box">
              <div class="detail-box">
                <h5>
                  Iced Coffee
                </h5>
                <p>
                  There are many variations of passages of Lorem Ipsum available, butdon't look even slightly
                  believable.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="">
          <div class="box_container">
            <div class="img-box">
              <img src="~/Content/images/p4.png" class="img1" alt="">
            </div>
            <div class="box">
              <div class="detail-box">
                <h5>
                  Latte
                </h5>
                <p>
                  There are many variations of passages of Lorem Ipsum available, butdon't look even slightly
                  believable.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end product section -->

  <!-- about section -->
  <section class="about_section ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box pr-md-4 pr-lg-5">
            <img src="~/Content/images/about-img.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container ">

    </div>
    <div class="container">

      <form action="">
        <div class="row">
          <div class="col-lg-10 col-md-11 mx-auto">
            <div class="heading_container">
              <h2>
                Order Coffee
              </h2>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Phone" />
            </div>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Select Cofee</option>
                <option>Cappuccino</option>
                <option>Frapuccino</option>
                <option>Latte</option>
                <option>Iced Coffee</option>
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="messageBox" rows="3" placeholder="Instructions"></textarea>
            </div>
            <div class="d-flex justify-content-center">
              <button>
                SEND
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- end contact section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What Says Our Customers
        </h2>
      </div>
      <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-9 col-lg-7 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="~/Content/images/client.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Alice Adams
                    </h5>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-9 col-lg-7 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="~/Content/images/client.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Alice Adams
                    </h5>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-9 col-lg-7 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="~/Content/images/client.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Alice Adams
                    </h5>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>

  <!-- end client section -->


  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-7 mx-auto">
          <div class="info_container">
            <div class="row">
              <div class="col-md-6">
                <h5>
                  Contact Us
                </h5>
                <div class="info_contact">
                  <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                      Location
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                      +01 1234567890
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope"></i>
                    <span>
                      demo@gmail.com
                    </span>
                  </a>
                </div>
                <div class="social_box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info_detail">
                  <h5>
                    Customer Service
                  </h5>
                  <p>
                    Randomised words which don't look even slightly believable. If you are going to use a passage of
                    Lorem
                    Ipsum, you need to be sure
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>