@{
    ViewBag.Title = "Testimonial Page";
}

<!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What Says Our Customers
        </h2>
      </div>
      <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-9 col-lg-7 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="~/Content/images/client.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Alice Adams
                    </h5>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-9 col-lg-7 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="~/Content/images/client.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Alice Adams
                    </h5>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-9 col-lg-7 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="~/Content/images/client.jpg" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Alice Adams
                    </h5>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>

  <!-- end client section -->


  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-7 mx-auto">
          <div class="info_container">
            <div class="row">
              <div class="col-md-6">
                <h5>
                  Contact Us
                </h5>
                <div class="info_contact">
                  <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                      Location
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                      +01 1234567890
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope"></i>
                    <span>
                      demo@gmail.com
                    </span>
                  </a>
                </div>
                <div class="social_box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info_detail">
                  <h5>
                    Customer Service
                  </h5>
                  <p>
                    Randomised words which don't look even slightly believable. If you are going to use a passage of
                    Lorem
                    Ipsum, you need to be sure
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->